{% extends 'base.html.twig' %}

{% block body %}
    {% if historyJobs %}
        <div class="panel panel-default">
            <div class="panel-body">
                Recent viewed jobs:
                {% for historyJob in historyJobs %}
                    <a href="{{ path('job.show', {id: historyJob.id}) }}">{{ historyJob.position ~ ' - ' ~ historyJob.company}}</a>{{ loop.last ? '' : ', ' }}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% for category in categories %}
        <h4>{{ category.name }}</h4>
		{% include 'job/table.html.twig' with { 'jobs': category.activeJobs|slice(0, max_jobs_on_homepage) } only %}
    {% endfor %}
{% endblock %}